<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JS3S3KFX1Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JS3S3KFX1Z');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebCodeUp</title>
  <link rel="preload" href="/css/index.css" as="style">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
  <%- locals?.head %>
</head>
<body>
