<%- await include('./components/head.html') -%>
<%- await include('./components/header.html', {active: 'home'}) -%>

<main>
  <section>
    <h1>Welcome</h1>
    <p>Welcome to the WebCodeUp JavaScript blog! Here, you will find news, tips, and resources on the world of JavaScript and web development.</p>

    <p>JavaScript is a powerful and versatile programming language that is essential for creating interactive and dynamic web pages. With JavaScript, you can build everything from simple games and apps to complex web-based tools and applications. It is compatible with a wide range of technologies and frameworks, making it a valuable skill for anyone looking to enter the world of web development.</p>

    <p>On this blog, you will find articles, tutorials, and other resources that will help you learn JavaScript and improve your skills. Whether you are a beginner looking to get started with JavaScript, or an experienced developer looking to expand your knowledge, we have something for everyone. So, grab a cup of coffee and dive in – it's exciting to share a love of JavaScript with you!</p>
  <section>
</main>

<%- await include('./components/footer.html') -%>
<%- await include('./components/foot.html') -%>
